<mat-sidenav-container class="pages-container">
  <mat-toolbar class="header-toolbar">
    <mat-toolbar-row class="logo-toolbar">
      <div class="company-logo">
        <a class="logo" routerLink="/">y Company</a>
      </div>
      <div class="company-search">
        <form class="search-form">
          <input
            type="text"
            placeholder="Type to search..."
            class="search-text"
            [formControl]="searchControl"
          />

          <button
            mat-mini-fab
            type="button"
            class="close-btn mat-elevation-z0"
            (click)="clearSearch()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </form>
      </div>
      <div class="cart-icon">
        <div>
          <span class="display-name">{{ displayName }}</span>
          <button
            mat-button
            [matMenuTriggerFor]="userLogin"
            [matTooltip]="displayName ? displayName : ''"
            matTooltipPosition="below"
          >
            <mat-icon
              class="mat-icon-lg"
              matBadgeColor="warn"
              aria-hidden="false"
              >person</mat-icon
            >
          </button>
          <button mat-button [routerLink]="['/cart']">
            <mat-icon
              class="mat-icon-lg"
              matBadge="{{ itemCount }}"
              matBadgeColor="warn"
              aria-hidden="false"
              [@blink]="blinkState"
              >shopping_cart</mat-icon
            >
          </button>

          <mat-menu #userLogin="matMenu">
            <ng-template matMenuContent>
              <div class="login-menu">
                <ng-template #elseBlock>
                  <button mat-flat-button (click)="triggerLoginFlow('')">
                    Login
                  </button>
                  <button mat-flat-button>Register</button>
                </ng-template>
                <ng-container *ngIf="isSignedIn; else elseBlock">
                  <button mat-flat-button [routerLink]="['/checkout/order']">
                    My Account
                  </button>
                  <button mat-flat-button (click)="triggerLogoutFlow('')">
                    Logout
                  </button>
                </ng-container>
              </div>
            </ng-template>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-sidenav-container>
<app-menu></app-menu>
