<cdk-accordion class="accordion">
  @for (item of AccordionData; track item.key; let index = $index) {
  <cdk-accordion-item
    #accordionItem="cdkAccordionItem"
    class="accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div class="accordion-key" (click)="accordionItem.toggle()">
      <div>
        {{ item.key }}
      </div>

      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>

    <div
      class="accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      {{ item.value }}
    </div>
  </cdk-accordion-item>
  }
</cdk-accordion>
