<div class="details-container">
  <div class="left-panel">
    <div class="gallery-container">
      <div class="product-gallery__featured">
        <owl-carousel-o [options]="mainCarouselOptions" #mainCarousel>
          <ng-container *ngFor="let image of productCaraouselImages">
            <ng-template carouselSlide [id]="image" [dataMerge]="1">
              <img [src]="image" />
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>

      <div class="product-gallery__carousel">
        <owl-carousel-o [options]="thumbnailCarouselOptions">
          <ng-container
            *ngFor="let image of productCaraouselImages; let i = index"
          >
            <ng-template carouselSlide [id]="image + i" [width]="80">
              <a (click)="mainCarousel.to(image); changeimage(image + i)">
                <img
                  [src]="image"
                  [ngClass]="{
                    'product-gallery__carousel-item--active':
                      selectedImage === image + i || (i == 0 && !selectedImage)
                  }"
                />
              </a>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <!-- Your content for the right panel -->
    <div class="product-details">
      <h6 class="description">Product description</h6>
      <h6 class="mrp">MRP inclusive of all taxes</h6>
      <div>
        <span class="price">Rs. 539.00</span>
        <span class="striked-price"><s>Rs. 1,799.00</s></span>
      </div>
      <div class="variants">
        <div>
          @for(thumbnail of SelectedProductThumbnail; track $index; let i =
          $index) {

          <img
            class="imageThumb"
            src="{{ thumbnail.url }}"
            width="100"
            height="100"
            [ngClass]="{ 'selected-image': i === selectedImageIndex }"
            (click)="selectImage($index, thumbnail.id)"
          />
          }
        </div>
      </div>
      <div class="sizes">
        <span>size</span>
        <div>
          @for(sz of SelectedProductSizes;track $index; let ind = $index) {
          <mat-card
            class="size"
            [ngClass]="{ 'selected-size': ind === selectedSizeIndex }"
            (click)="selectSize($index, sz)"
          >
            <mat-card-content> {{ sz.size }} </mat-card-content></mat-card
          >
          }
        </div>
        <div class="addCart">
          <button
            mat-flat-button
            [ngClass]="{ 'disable-cart': selectedSizeIndex == -1 }"
            (click)="AddToCart()"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Example shoppingcart icon"
              fontIcon="shopping_cart"
            ></mat-icon>
            Add
          </button>
        </div>
        <div>
          <hr />
        </div>
        <app-product-accordion
          [AccordionData]="productAccordion"
        ></app-product-accordion>
      </div>
    </div>
  </div>
</div>
