<app-offer-carousel [slides]="offers"></app-offer-carousel>
<div class="line">
  <h3>All Products</h3>
  <hr />
</div>

<div class="container">
  <div class="grid-row">
    @for (product of productList$ | async; track $index) {
    <div class="grid-item">
      @if (product) {
      <div class="grid-item-wrapper">
        <div class="grid-item-container">
          <mat-card
            class="product-card"
            appearance="outlined"
            (click)="openDetailsPage(product.id)"
          >
            <img mat-card-image [src]="[product.images]" alt="" />
            <mat-card-content>
              <p>
                {{ product.description }}
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      }@else {
      <div>There are no matching products, Please try other categories</div>
      }
    </div>
    }
  </div>
</div>
<router-outlet />
