

.carousel {
    cursor: pointer;
}  

@media (min-width: 1280px) {
    .carousel {
        height: 500px;
        cursor: pointer;
    }    
}

@media (max-width: 545px) {
    .carousel {
        height: 300px;
        cursor: pointer;
        object-fit: fill;
    }    
}