<div class="details-container">
  <div class="left-panel">
    <h3>Shopping Cart</h3>
    <div>
      @for(cartItem of cartModel.items;track $index; let ind = $index) {
      <mat-card class="item-card" appearance="outlined">
        <img
          mat-card-image
          [src]="cartItem?.image"
          alt="Photo of a cart item"
          width="150px"
        />
        <mat-card-content>
          <div>
            <p>{{ cartItem?.productName }}</p>
            <p>
              Total
              <span class="cart-total">{{
                cartItem?.price?.finalPrice | currency : "INR"
              }}</span>
            </p>
            <p>
              size <span class="cart-size">{{ cartItem?.size }}</span>
            </p>
            <p>
              Quantity
              <span class="cart-quantity">{{ cartItem?.quantity }}</span>
            </p>
          </div>
        </mat-card-content>
        <mat-icon (click)="deleteFromCart(cartItem.productId)">delete</mat-icon>
      </mat-card>
      }
    </div>
  </div>
  <div class="right-panel">
    <h3>Cart Total</h3>
    <div class="cart-right">
      <button mat-flat-button class="signin-button">
        Sign Up
        <mat-icon
          aria-hidden="false"
          aria-label="Example shoppingcart icon"
          fontIcon="person"
        ></mat-icon>
      </button>
      <div class="cart-price">
        <div>
          <p>Order value</p>
          <p>Delivery</p>
        </div>
        <div>
          <p>{{ totalPrice | currency : "INR" }}</p>
          <p>{{ deliveryCharge | currency : "INR" }}</p>
        </div>
      </div>
      <button mat-flat-button class="checkout-button">
        Continue to checkout
      </button>
    </div>
  </div>
</div>
