@import "../../../styles/mixins";

mat-toolbar {
    background-color: white;
    border-bottom: 2px solid;
}

.app-menu {

    @include flex-container(row);
    justify-content: space-evenly;
    width: 100%;

    button {
        color: black;
        width: 100%;
    }
}

.active {
    background-color: black;
    color: white !important;
}
