@import '../../styles/mixins';

.flex-form {
    flex-flow: wrap;
    box-sizing: border-box;
    display: flex;
    padding-top: 2%;
}

.flex-fields-group1 {
    flex: 1 1 33.3%;
    box-sizing: border-box;
    max-width: 33.3%;
}


.flex-fields-group2 {
    flex: 1 1 25%;
    box-sizing: border-box;
    max-width: 25%;
}

.flex-fields-address{
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
}

.w-100 {
    width: 100% !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}

.nav-buttons{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    margin-right:1%
}

.check-out {
    margin-left: 1%;
}

.payment-tab {
    display: flex;
}

.left-section,
.right-section {
  flex: 1; 
}

.central-section {
  flex: 2; 
}

.grand-total {
    text-align: center;
    font-weight: 400;
    font-size: x-large;
    padding-top: 10%;
}

.check-out-button {
    padding-top: 15%;
    padding-left: 20%;
    width: 60%;
  button {
    width: 100%;
    background-color: black;
    color: white;
    height: 50px;
    
  }
}

.payment-modes {
    @include flex-container(row);
    padding-top: 12%;
    justify-content: space-between;
    p {
        width: 6%;
    }
}

@media screen and (max-width: 600px) {
.check-out-button{
    padding-top: 15%;
    padding-left: 7%;
    width: 85%;
}
.payment-modes {
    @include flex-container(row);
    padding-top: 12%;
    justify-content: space-between;
    p {
        width: 15%;
    }
}

}